:root {
    --gap: 0.5rem;
    --padding: 1rem;
}

.my_masonry_grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* gutter size offset */
    /* margin-left: calc(var(--gap) * -1); */
    margin-inline: calc(var(--gap) * -1);
    width: auto;
    padding: var(--padding);
    /* background: red; */
}
.my_masonry_grid_column:not(:first-child) {
    padding-left: var(--gap); /* gutter size */
    background-clip: padding-box;
}

/* Style your items */
.my_masonry_grid_column > *:not(:last-child) {
    /* change * to reference your elements you put in <Masonry> */
    margin-bottom: var(--gap);
}
